body {
  
    text-align: center;
    background-color: #f0e15e;
  
}

.container {
    margin-top: 100px;
}

.counter-box {
    background-color: #f8f8d8;
    border: 2px solid black;
    padding: 50px;
    border-radius: 10px;
    display: inline-block;
}

.counter {
    font-size: 100px;
    margin: 0;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d3d3d3;
}